<p class="pull-left" style="color:black">
  <a href="{{ root_url }}/">{{ site.title }}</a>
  - Copyright &copy; {{ site.time | date: "%Y" }} - {{ site.author }}
</p>
<p class="pull-right" style="color:black">
  {% unless site.hide_design_credits %}
    <span>Designed by <a href="http://rotiofood.com" target="_blank">Anthony Rotio</a>. Based on a design by <a href="http://blog.hyfather.com"
  target="_blank">Nikhil Mungel</a>.<br/></span><br/>
  {% endunless %}
  <span>
    Powered by <a href="http://octopress.org/" target="_blank">Octopress</a>.
  </span>
  <span>
    Photos
    by <a href="https://www.etsy.com/shop/kelizabethevents"
    target="_blank">Katie Egan</a>.
  </span>
</p>
